In [12]:
import sys
sys.path.append("..")

from data_transformation.db_env import DbEnv

# Native libraries
import os
import math
# Essential Libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
# Preprocessing
from sklearn.preprocessing import MinMaxScaler
# Algorithms
from minisom import MiniSom
from tslearn.barycenters import dtw_barycenter_averaging
from tslearn.clustering import TimeSeriesKMeans
from sklearn.cluster import KMeans

from sklearn.decomposition import PCA

https://www.kaggle.com/izzettunc/introduction-to-time-series-clustering

In [22]:
#get song_num list

conn, cursor = DbEnv().connect_sql()
num_list = DbEnv().get_data_from_table(cursor, 'DISTINCT num', 'daily_music_cow', 'num IS NOT NULL')
num_list = [item[0] for item in num_list]
print(num_list)

[26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 106, 107, 108, 110, 111, 112, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 153, 154, 155, 156, 157, 158, 159, 160, 161, 163, 164, 165, 167, 168, 169, 171, 173, 174, 175, 176, 177, 178, 179, 180, 183, 184, 185, 187, 188, 189, 190, 191, 192, 193, 194, 195, 197, 198, 199, 202, 204, 206, 207, 208, 211, 212, 216, 218, 219, 221, 224, 225, 230, 231, 233, 237, 238, 240, 258, 261, 262, 265, 267, 274, 311, 322, 345, 373, 382, 420, 460, 461, 462, 464, 465, 466, 467, 468, 469, 470, 471, 472, 474, 475, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 509, 511, 512, 513, 514, 515, 516, 517, 519, 520, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 553, 554, 555, 556, 557, 558, 559, 560, 561, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 618, 620, 621, 622, 623, 624, 625, 630, 631, 632, 637, 638, 640, 642, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 659, 661, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 695, 696, 697, 698, 699, 700, 701, 702, 703, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 719, 721, 722, 723, 725, 727, 729, 730, 731, 733, 734, 735, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 781, 782, 783, 785, 789, 800, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 829, 831, 833, 835, 836, 838, 839, 840, 841, 842, 844, 845, 846, 847, 849, 850, 851, 853, 854, 855, 857, 858, 859, 861, 863, 864, 865, 866, 868, 869, 871, 872, 873, 874, 875, 877, 878, 879, 880, 881, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 909, 910, 911, 913, 914, 915, 916, 917, 918, 919, 920, 922, 923, 925, 926, 932, 934, 936, 938, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 973, 974, 976, 977, 978, 979, 980, 981, 982, 983, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 1000, 1001, 1005, 1006, 1007, 1008, 1010, 1011, 1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021, 1023, 1024, 1025, 1026, 1027, 1029, 1031, 1032, 1035, 1038, 1039, 1041, 1042, 1043, 1044, 1045, 1046, 1047, 1048, 1049, 1050, 1053, 1054, 1055, 1056, 1058, 1059, 1060, 1061, 1062, 1063, 1064, 1065, 1066, 1067, 1068, 1069, 1070, 1071, 1072, 1073, 1074, 1075, 1076, 1077, 1078, 1080, 1082, 1084, 1087, 1088, 1089, 1090, 1093, 1094, 1095, 1097, 1098, 1101, 1102, 1103, 1104, 1105, 1107, 1108, 1109, 1111, 1112, 1113, 1114, 1115, 1116, 1117, 1118, 1121, 1122, 1123, 1124, 1126, 1127, 1128, 1130, 1131, 1132, 1134, 1140, 1141, 1145, 1146, 1147, 1149, 1151, 1152, 1156, 1157, 1158, 1159, 1160, 1162, 1165, 1166, 1167, 1169, 1170, 1171, 1172, 1176, 1181, 1182, 1184, 1185, 1186, 1187, 1188, 1191, 1192, 1193, 1202, 1208, 1221, 1230, 1238, 1259, 1285, 1318, 1331, 1343, 1344, 1346, 1348, 1350, 1351, 1353, 1356, 1367, 1368, 1369, 1375, 1376, 1377, 1378, 1379, 1380, 1381, 1382, 1383, 1386, 1387, 1427, 1388, 1420, 1421, 1422, 1423, 1428, 1437, 1438, 1439, 1440, 1441, 1442, 1443, 1505, 1506, 1507, 1508, 1509, 1510, 1511, 1539, 1540, 1541, 1542, 1545, 1546, 1550, 1551, 1556, 1558, 1559]

In [29]:
# find shortest date length to fit all songs
for num in num_list:
    list_date = []
    list_date = DbEnv().get_data_from_table(cursor, 'DISTINCT date', 'daily_music_cow', 'num=%d' % (num))
    list_date = [item[0] for item in list_date].sort()
    str_date, end_date = list_date[0], list_date[-1]
    print(str_date, end_date)

26
None

TypeError: 'NoneType' object is not subscriptable