##### 기사 제목, 본문 21년 06 월 까지 쿼리

In [90]:
from pymongo import MongoClient
import itertools
client = MongoClient('localhost', 27017)
db = client.article

col = db.article_info1
articles1 = col.find({'$and': [{'text':{'$exists':True}},
                             {'$or':[{'date':{'$regex':'2022-01'}},{'date':{'$regex':'2021-12'}},
                           {'date':{'$regex':'2021-11'}},{'date':{'$regex':'2021-10'}},
                           {'date':{'$regex':'2021-09'}},{'date':{'$regex':'2021-08'}},
                                    {'date':{'$regex':'2021-07'}},{'date':{'$regex':'2021-06'}}]}]})
title1 = list(map(lambda x : x['article_title'], articles1))
articles1 = col.find({'$and': [{'text':{'$exists':True}},
                             {'$or':[{'date':{'$regex':'2022-01'}},{'date':{'$regex':'2021-12'}},
                           {'date':{'$regex':'2021-11'}},{'date':{'$regex':'2021-10'}},
                           {'date':{'$regex':'2021-09'}},{'date':{'$regex':'2021-08'}},
                                    {'date':{'$regex':'2021-07'}},{'date':{'$regex':'2021-06'}}]}]})
text1 = list(map(lambda x : x['text'], articles1))

col = db.article_info2
articles2 = col.find({'$and': [{'text':{'$exists':True}},
                             {'$or':[{'date':{'$regex':'2022-01'}},{'date':{'$regex':'2021-12'}},
                           {'date':{'$regex':'2021-11'}},{'date':{'$regex':'2021-10'}},
                           {'date':{'$regex':'2021-09'}},{'date':{'$regex':'2021-08'}},
                                    {'date':{'$regex':'2021-07'}},{'date':{'$regex':'2021-06'}}]}]})
title2 = list(map(lambda x : x['article_title'], articles2))
articles2 = col.find({'$and': [{'text':{'$exists':True}},
                             {'$or':[{'date':{'$regex':'2022-01'}},{'date':{'$regex':'2021-12'}},
                           {'date':{'$regex':'2021-11'}},{'date':{'$regex':'2021-10'}},
                           {'date':{'$regex':'2021-09'}},{'date':{'$regex':'2021-08'}},
                                    {'date':{'$regex':'2021-07'}},{'date':{'$regex':'2021-06'}}]}]})
text2 = list(map(lambda x : x['text'], articles2))

col = db.article_info3
articles3 = col.find({'$and': [{'text':{'$exists':True}},
                             {'$or':[{'date':{'$regex':'2022-01'}},{'date':{'$regex':'2021-12'}},
                           {'date':{'$regex':'2021-11'}},{'date':{'$regex':'2021-10'}},
                           {'date':{'$regex':'2021-09'}},{'date':{'$regex':'2021-08'}},
                                    {'date':{'$regex':'2021-07'}},{'date':{'$regex':'2021-06'}}]}]})
title3 = list(map(lambda x : x['article_title'], articles3))
articles3 = col.find({'$and': [{'text':{'$exists':True}},
                             {'$or':[{'date':{'$regex':'2022-01'}},{'date':{'$regex':'2021-12'}},
                           {'date':{'$regex':'2021-11'}},{'date':{'$regex':'2021-10'}},
                           {'date':{'$regex':'2021-09'}},{'date':{'$regex':'2021-08'}},
                                    {'date':{'$regex':'2021-07'}},{'date':{'$regex':'2021-06'}}]}]})
text3 = list(map(lambda x : x['text'], articles3))

##### 기사 제목, 본문을 합치고 전처리하는 과정

In [91]:
# 이중 리스트를 하나의 리스트로 묶어주는 작업
tmp_list = list(map(lambda x: x.split('. '),text1))
texts1 = list(itertools.chain(*tmp_list))
tmp_list = list(map(lambda x: x.split('. '),text2))
texts2 = list(itertools.chain(*tmp_list))
tmp_list = list(map(lambda x: x.split('. '),text3))
texts3 = list(itertools.chain(*tmp_list))

In [92]:
sentences = title1+title2+title3+texts1+texts2+texts3

In [93]:
# 특수기호 제거
pre_sentences = list(map(lambda x : x.replace("[^A-za-z가-힣ㄱ-ㅎㅏㅡㅣ ]","").strip(), sentences))
pre_sentences = list(map(lambda x : x.replace('[',''), pre_sentences))
pre_sentences = list(map(lambda x : x.replace(']',''), pre_sentences))
pre_sentences = list(map(lambda x : x.replace('"',''), pre_sentences))

In [94]:
len(pre_sentences)

3933902

In [95]:
import pandas as pd
sen_df = pd.DataFrame(pre_sentences, columns = ['text'])

In [42]:
sen_df

                                                      text
0                                   한선화 숙취해소법? 라면 먹고 아이스크림
1                      한선화, 군복무 중 동생 한승우 면회? 이렇게 사이좋은 남매라니
2                      한선화, 군인 동생 한승우 면회..누나 덕에 선임들 예쁨 받겠네
3                          연우→김소정, 배우 전향…'연기돌' 계보 이을까 ST이슈
4                             시크릿 출신 전효성, 점프도 잘해..깜찍발랄 비주얼
...                                                    ...
2359850  '비비고'를 검색하면 'CJ제일제당'과 'CJ씨푸드'가 나오는 등 종목 검색을 쉽게...
2359851  복잡한 주가차트도 간소화했는데, 이런 영향인지 출범한 지 3개월 만에 350만명의 ...
2359852  제가 '좋니'라는 음악으로 수익률 50%를 기록한 것처럼 익숙하고 친근한 상품에 투...
2359853    하지만 이런 투자도 손실이 발생할 수 있기 때문에 사전에 다각적 점검은 꼭 필요하겠죠
2359854                                   지금까지 이지효 기자였습니다.

[2359855 rows x 1 columns]

In [44]:
from konlpy.tag import Mecab
mecab = Mecab(dicpath = r'C:\mecab\mecab-ko-dic')

In [96]:
# 토크나이즈 컬럼 생성
sen_df['pre_text'] = sen_df.text.apply(lambda x : mecab.nouns(x))

In [97]:
sen_df

,text,pre_text
0,한선화 숙취해소법? 라면 먹고 아이스크림,"[한선, 숙취, 소법, 라면, 아이스크림]"
1,"한선화, 군복무 중 동생 한승우 면회? 이렇게 사이좋은 남매라니","[한선화, 군, 복무, 중, 동생, 한승우, 면회, 사이, 남매]"
2,"한선화, 군인 동생 한승우 면회..누나 덕에 선임들 예쁨 받겠네","[한선화, 군인, 동생, 한승우, 면회, 누나, 덕, 선임]"
3,"연우→김소정, 배우 전향…'연기돌' 계보 이을까 ST이슈","[연우, 김소정, 배우, 전향, 연기, 돌, 계보]"
4,"시크릿 출신 전효성, 점프도 잘해..깜찍발랄 비주얼","[시크릿, 출신, 전효성, 점프, 비주얼]"
...,...,...
3933897,최근 뮤직카우는 브레이브 걸스의 역주행 인기로 두각을...,"[최근, 뮤직카우, 브레이브, 걸스, 역주행, 인기, 두각]"
3933898,헤럴드경제 = 서병기 선임기자K-콘텐츠 전문 투자 플랫폼 ‘펀더풀’ 윤성욱 대표는 ...,"[헤럴드, 경제, 서병기, 선임, 기자, 콘텐츠, 전문, 투자, 플랫, 폼, 펀, ..."
3933899,이를 통해 기업 투자자의 전유물이었던 콘텐츠 투자 영역에 일반인도 쉽게 투자할 수 ...,"[이, 기업, 투자자, 전유물, 콘텐츠, 투자, 영역, 일반인, 투자, 수, 투자,..."
3933900,"펀더풀뿐 아니라 저작권 투자가 가능한 ‘뮤직카우’, 앤디워홀 등 아트 작품에 투자할...","[펀, 뿐, 저작, 투자, 가능, 뮤직카우, 앤디워홀, 등, 아트, 작품, 투자, ..."
3933901,또한 문화 콘텐츠 제작을 돕는 것을 넘어 콘텐츠 성장이 자산 형성에 기여하는 선순환...,"[문화, 콘텐츠, 제작, 것, 콘텐츠, 성장, 자산, 형성, 기여, 선, 순환, 자..."

In [72]:
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

tokenizer = Tokenizer()
tokenizer.fit_on_texts(sen_df['pre_text'])
print('총 단어 개수:', len(tokenizer.word_index))

총 단어 개수: 97419

In [73]:
# 워드투벡 생성시 고유 단어 수^0.25 가 적절한 차원 수란 얘기가 있는데 잘 모르겠음
len(tokenizer.word_index)**0.25

17.666923024841072

In [98]:
from gensim.models.word2vec import Word2Vec

wv = Word2Vec( sentences=sen_df['pre_text'], vector_size = 50, epochs= 10,window = 5, workers =4, min_count =3, sg =1)

In [99]:
wv.save('근6개월치.model')

In [123]:
wv.wv.most_similar('',topn = 20)

[('자산', 0.8411035537719727),
 ('펀드', 0.8318650722503662),
 ('해시드', 0.8259373307228088),
 ('상장지수', 0.8241746425628662),
 ('證', 0.8234809041023254),
 ('투자자', 0.8193813562393188),
 ('기업공개', 0.8173936009407043),
 ('투자처', 0.8113041520118713),
 ('애널리스트', 0.8105679154396057),
 ('증권', 0.809446394443512),
 ('자금', 0.8054743409156799),
 ('운용', 0.8042000532150269),
 ('출자자', 0.8004212975502014),
 ('주식', 0.7996504902839661),
 ('지분', 0.7972466349601746),
 ('한금', 0.7965776920318604),
 ('인수', 0.7939862608909607),
 ('캐피털', 0.791592001914978),
 ('소액', 0.7901537418365479),
 ('조달', 0.7901169061660767)]